.film-list {
  background: #bcc8c1;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
p {
  padding: 10px;
}
p:nth-child(2) {
  padding: 10px;
  font-size: 18px;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: no-wrap;
  overflow: hidden;
  max-height: 10em;
  line-height: 1.2em;
}
@media (max-width: 580px) {
  .film-list {
    align-self: center;
    justify-self: center;
    font-size: 0.9rem;
    margin: 1rem;
    width: 300px;
  }
}
