body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  margin: 6px 20px 6px;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(15, 199, 97);
}

.title:hover {
  color: darkgreen;
}

/* RL Header for nav */
.header {
  display: flex;
  justify-content: space-between;
}
/* RL Nav Links style */
.nav-links {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}
/* Rl Nav Links style */
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: rgb(15, 199, 97);
  padding: 10px;
  margin: 0;
}
/* Rl Nav Links style */
.nav-link:hover {
  text-decoration: underline;
  background: darkgreen;
  color: white;
}
